/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Main  body ***********/
main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

body {
  margin: 0px;
}

/****** Header ***********/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px -50px;
}

/* contenant du logo */
.logo {
  height: 79px;
  width: 121.09px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* logo */
.logo img {
  height: 19px;
  width: 61.09px;
}

/* nav */
header nav {
  width: 328.6px;
  height: 35px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
}

/* lien non séléctionné */
.lien {
  text-decoration: none;
  color: #000000;
}

/* lien séléctionné: en bleu + bord top en bleu */
.lien:hover {
  color: #0065fc;
  padding-top: 15px;
  border-top: solid 2px #0065fc;
}

/****** touver-herbergements ***********/
.trouver-hebergements {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 35px;
}

.titre p {
  margin: 8px 0px 0px 0px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

h1 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

/* barre de recherche */
.recherche {
  height: 49px;
  width: 377px;
}

form {
  display: flex;
  flex-direction: row;
}

label {
  width: 50px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 195px;
  padding: 0px 0px 0px 24px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
}

::placeholder {
  color: black;
  opacity: 1;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 49px;
  background: #0065fc;
  border-radius: 0px 15px 15px 0px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  border: none;
}

/* affichage rechercher ou loupe */

.rechercher {
  display: block;
}

.loupe {
  display: none;
}

/* barre de filtres */

.filtres {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  height: 50px;
}

.filtre-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* les 4 filtres */
.filtres-contenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.filtres-box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.eco,
.fam,
.rom,
.pep {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border: solid 2px #d9d9d9;
  border-radius: 25px;
  padding: 13px 17px 13px 17px;
}

.eco:hover,
.fam:hover,
.rom:hover,
.pep:hover {
  background-color: #deebff;
}

h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.filtres h4 {
  margin: 0px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

/* info bar */
.info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  height: 24px;
  width: 100%;
}

.i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border: solid 1px #d9d9d9;
  border-radius: 12px;
}

/****** touver-herbergements ***********/
.hebergements-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hebergements-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hebergements-cards-lign {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 33%;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 4px;
  margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.hebergements-cards .card-lien,
.afficher {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.hebergements-afficher {
  margin-top: 30px;
}

/****** Activités ***********/
.activites {
  width: 100%;
}

.activites-main section {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.activites-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.activites-cards .card {
  margin-top: 30px;
  width: 25%;
  padding: 0;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 20px 19px 20px 19px;
}

.activites-cards .card-lien {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
}

/****** Footer ***********/
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 163px;
  background-color: #f2f2f2;
}

.colonne {
  width: 33.3%;
  padding: 20px;
}

.colonne-text {
  padding: 15px 0px 0px 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer li {
  list-style: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /* barre de filtres */
  .filtres {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    height: 91px;
  }

  .filtres h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-cards img {
    height: 193.5px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 320px) {
  body {
    margin: 0px;
    margin: 0px;
  }

  .main-container {
    padding: 0px;
  }

  /****** Header ***********/
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  header nav {
    width: 100%;
    height: 35px;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  header li {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .lien:hover {
    padding-top: 0px;
    border-top: none;
  }

  header li:hover {
    padding-bottom: 15px;
    border-bottom: solid 2px #0065fc;
  }

  /****** main ***********/
  main {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  /****** trouver-hebergements ***********/

  .trouver-hebergements {
    padding: 0px 20px 0px 20px;
    width: auto;
  }

  .recherche {
    width: 335px;
  }

  form {
    width: 335px;
  }
  form input {
    width: 249px;
  }

  button {
    width: 49px;
    border-radius: 15px;
    padding: 0px 0px 0px 0px;
    margin-left: -13px;
  }

  .rechercher {
    display: none;
  }

  .loupe {
    display: block;
  }

  /* barre de filtres */
  .filtres {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    height: 161px;
    width: 335px;
  }

  .filtres-contenu {
    flex-direction: column;
    gap: 20px;
  }

  .filtres-box {
    gap: 10px;
    width: 335px;
  }

  .eco,
  .fam,
  .rom,
  .pep {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .eco {
    padding-right: 24.5px;
  }

  .fam {
    padding-left: 21px;
    padding-right: 56.5px;
    gap: 14.56px;
  }

  .rom {
    padding-right: 27.5px;
  }

  .pep {
    padding-left: 19.5px;
    padding-right: 29px;
    gap: 11.5px;
  }

  .filtres h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }

  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
  }

  /* Poluplaires */

  section.populaires {
    margin: 0px;
  }

  .populaires-cards {
    flex-direction: column;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: auto;
    margin-top: 15px;
  }

  /* Hebergements */

  section.hebergements {
    padding-top: 20px;
    background-color: white;
  }

  .hebergements-cards-lign {
    flex-direction: column;
    gap: 0px;
  }

  .hebergements-cards .card {
    margin-top: 15px;
    width: auto;
  }

  .hebergements-afficher {
    margin-top: 15px;
  }

  /* Activités */
  .activites-cards {
    flex-direction: column;
    gap: 0px;
  }

  .activites-cards .card {
    margin-top: 15px;
    width: auto;
  }

  .activites-cards img {
    height: 141px;
  }

  .activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /****** Footer ***********/
  footer {
    flex-direction: column;
    height: 461px;
    gap: 20px;
  }

  .colonne {
    width: auto;
    padding: 30px 30px 0px 30px;
  }
}
